@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-gray-000: var(--gray-000);
  --color-gray-025: var(--gray-025);
  --color-gray-050: var(--gray-050);
  --color-gray-100: var(--gray-100);
  --color-gray-600: var(--gray-600);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --color-gray-1000: var(--gray-1000);
  --color-gray-1050: var(--gray-1050);
  --color-gray-1100: var(--gray-1100);
  --color-gray-1150: var(--gray-1150);
  --color-gray-1200: var(--gray-1200);
  --color-orange-700: var(--orange-700);
  --color-blue-050: var(--blue-050);
  --color-blue-500: var(--blue-500);
  --color-green-400: var(--green-400);
  --color-cyan-050: var(--cyan-050);
  --color-peach-050: var(--peach-050);
  --color-white: var(--white);

  --text-xxs: 0.625rem;
  --text-mid: 0.8125rem;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Custom color palette */
  --gray-000: oklch(98.72% 0.001 275.68); /* #FAFAFA */
  --gray-025: oklch(98.25% 0 0); /* #FBFBFB */
  --gray-050: oklch(97.1% 0.001 275.68); /* #F6F6F6 */
  --gray-100: oklch(95.82% 0.001 275.68); /* #F5F5F5 */
  --gray-600: oklch(51.76% 0 0); /* #7F7F7F */
  --gray-800: oklch(35.36% 0 0); /* #474747 */
  --gray-900: oklch(28.91% 0 0); /* #353535 */
  --gray-1000: oklch(0.405 0 0); /* #494949 */
  --gray-1050: oklch(0.719 0 0); /* #A4A4A4 */
  --gray-1100: oklch(0.836 0 0); /* #C9C9C9 */
  --gray-1150: oklch(0.955 0 0); /* #F0F0F0 */
  --gray-1200: oklch(0.925 0 0); /* #E6E6E6 */
  --orange-700: oklch(62.55% 0.13 53.74); /* #C97038 */
  --blue-050: oklch(94.77% 0.025 255.53); /* #EAF2FF */
  --blue-500: oklch(61.13% 0.124 265.34); /* #5F8DBE */
  --green-400: oklch(69.21% 0.078 180.53); /* #70BB9C */
  --cyan-050: oklch(93.88% 0.022 211.9); /* #E8F7F0 */
  --peach-050: oklch(93.94% 0.028 73.14); /* #FFEDE3 */
  --white: oklch(100% 0 0); /* #FFFFFF */
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /* Custom color palette - Dark mode */
  --gray-000: oklch(98.72% 0.001 275.68); /* #FAFAFA */
  --gray-025: oklch(98.25% 0 0); /* #FBFBFB */
  --gray-050: oklch(97.1% 0.001 275.68); /* #F6F6F6 */
  --gray-100: oklch(95.82% 0.001 275.68); /* #F5F5F5 */
  --gray-600: oklch(51.76% 0 0); /* #7F7F7F */
  --gray-800: oklch(35.36% 0 0); /* #474747 */
  --gray-900: oklch(28.91% 0 0); /* #353535 */
  --gray-1000: oklch(0.405 0 0); /* #494949 */
  --gray-1050: oklch(0.719 0 0); /* #A4A4A4 */
  --gray-1100: oklch(0.836 0 0); /* #C9C9C9 */
  --gray-1150: oklch(0.836 0 0); /* #F0F0F0 */
  --gray-1200: oklch(0.925 0 0); /* ##E6E6E6 */
  --orange-700: oklch(62.55% 0.13 53.74); /* #C97038 */
  --blue-050: oklch(94.77% 0.025 255.53); /* #EAF2FF */
  --blue-500: oklch(61.13% 0.124 265.34); /* #5F8DBE */
  --green-400: oklch(69.21% 0.078 180.53); /* #70BB9C */
  --cyan-050: oklch(93.88% 0.022 211.9); /* #E8F7F0 */
  --peach-050: oklch(93.94% 0.028 73.14); /* #FFEDE3 */
  --white: oklch(100% 0 0); /* #FFFFFF */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Anchor links for headings */
.anchor-link {
  --anchor-border-color: transparent !important;
  opacity: 0;
  text-decoration: none !important;
  transition: opacity 0.2s ease;
  margin-left: 0.33rem;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  color: var(--text-tertiary);
}

h2,
h3 {
  scroll-margin-top: 6.6rem;
}

h2:hover .anchor-link,
h3:hover .anchor-link,
h4:hover .anchor-link {
  opacity: 1;
}

.anchor-link:focus-visible {
  opacity: 1;
  color: var(--accent);
}

.rive-comp canvas {
  display: block;
  /* width: 250px !important;
  height: 72px !important; */
}
